<head>
    <title>Upper-Bound Ecommerce - Inventory Management System</title>
</head>
<body>
    <h1>Upper-Bound Inventory Management System</h1>
    <p><b>Upper-Bound is a digitally exclusive retailer whose sole objective is to source local high
        quality products produced by up and coming micro-brands, and ultimately bring these products
        to the attention of a wider consumer audience by distributing them for sale through its
        ecommerce platform. The following Web-app is designed to help Upper-Bound track, maintain, and report all operational activities related to its Inventory.</b></p>
    <ul>
        <li><a href="/Customers"> Customers Page</a></li>
        <br>
        <li><a href="/Products.html"> Products Page </a></li>
        <br>
        <li><a href="/Purchase_Orders.html"> Purchase Orders Page </a></li>
        <br>
        <li><a href="/Vendors.html"> Vendors Page</a></li>
        <br>
        <li><a href="/Sales.html"> Sales Page </a></li>
        <br>
        <li><a href="/Purchase_Orders_Products.html"> Purchase Orders to Products Page</a></li>
        <br>
        <li><a href="/Products_Sales.html"> Products to Sales Page</a></li>
        <br>
        <li><a href="/Status_Codes.html"> Status Codes Page</a></li>
    </ul>
</body>
</html>