<html>
<!-- 
# Citation for the following jinja template file:
# Date: 3/02/2023
# Adapted from / Based on: Flask Starter App guide shared from course learning materials.
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
 -->
<head>
    <title>Purchase Orders</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        } else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'block'
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
		}
	}
	function newPurchaseOrder() {
		showform('insert');
	}
	function updatePurchaseOrder(pid) {
		showform('update');
	}
    function deletePurchaseOrder(pid) {
		showform('delete');
	}
	function browsePurchaseOrders() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browsePurchaseOrders()>

[<a href="/">Page Navigator:</a> | 
<a href="/">Home</a> | 
<a href="/Customers">Customers</a> | 
<a href="/Products">Products</a> | 
<a href="/Purchase_Orders">Purchase Orders</a> | 
<a href="/Vendors">Vendors</a> | 
<a href="/Sales">Sales</a> | 
<a href="/Purchase_Orders_Products">Purchase Orders to Products</a> | 
<a href="/Products_Sales">Products to Sales</a> | 
<a href="/Status_Codes">Status Codes</a> ]
<br>
<br>
<div id="browse" style="display: block">
	<h1>Purchase Orders</h1>
	<br>
    <p><strong>Browse Purchase Orders</strong></p>
    <table border="1" cellpadding="5">
{% if data %}
<thead>  
<tr>
    <!-- Iterate through each key in the first entry to get the
    column name -->
    {% for key in data[0].keys() %}
    
    <!-- Create a <th> tag with the key inside of it, this will be
    our header row -->
    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
      
    <!-- End of this for loop -->
    {% endfor %}
</tr>
<tbody>

<!-- Now, iterate through every purchase order in Purchase_Orders -->
{% for item in data %}
<tr>
    <!-- Then iterate through every key in the current purchase order dictionary -->
    {% for key in item.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
    <td>{{item[key]}}</td>
    {% endfor %}
    <!-- Create our edit/delete buttons -->
	<td><a href="Update_Purchase_Order/{{item.purchase_order_id}}" class="btn btn-default">Edit</a></td>
	<td><a href="Delete_Purchase_Order/{{item.purchase_order_id}}" class="btn btn-default">Delete</a></td>
</tr>
    {% endfor %}
{% endif %} 
</table>
<p></p>
<br>
</div> <!-- browse -->

<div id="insert" style="display: block">
    <form id="addPurchaseOrder" action="/Purchase_Orders" method="post">
        <legend><strong>Add Purchase Order</strong></legend>
        <br>
          <fieldset class="fields">
            <label><b> purchase date: </b></label> <input type="date" name="purchase_date" placeholder="" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> delivery date: </b></label> <input type="date" name="delivery_date" placeholder="" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> vendor name: </b></label><select class="form-control" id="vendor_id" name="vendor_id" placeholder="" required>
                {% for vendor in vendors %}
                    <option value="{{ vendor['vendor_id'] }}"> {{vendor['name']}}</option> 
                <!-- End of this for loop -->
                {% endfor %} 
			</select> <label><em><b> * required </b></em></label>
          </fieldset>
          <br>
          <input class="btn" type="submit" id="addPurchaseOrder" value="Add Purchase Order" name="Add_Purchase_Order">
	  </form> <!--add new purchase order-->
</div><!-- insert -->
<br>
<br>
</body>
</html>
