<html>
<!-- 
# Citation for the following jinja template file (SCOPE - ALL Code in File):
# Date: 3/02/2023
# Adapted from / Based on: Flask Starter App guide shared from course learning materials.
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
 -->
<head>
	<title>Update Customer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>


<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> <b>Editing Customer:<b> </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
<br>
<br>
<div id="update" style="display: block">
    <form id="UpdateCustomer" action="/Update_Customer/{{data[0].customer_id}}" method="POST">
      <legend><strong>Update Customer</strong></legend>
      <br>
        <fieldset class="fields">
            <input type="hidden" value="{{data[0].customer_id}}" class="form-control" id="customer_id" name="customer_id" required>
            <label><b> first name: </b></label> <input type="text" class="form-control" id="first_name" name="first_name" value="{{data[0].first_name}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> last name: </b></label> <input type="text" class="form-control" id="last_name" name="last_name" value="{{data[0].last_name}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> email: </b></label> <input type="text" class="form-control" id="email" name="email" value="{{data[0].email}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> address: </b></label> <input type="text" class="form-control" id="address" name="address" value="{{data[0].address}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> phone number: </b><input type="text" class="form-control" id="phone_number" name="phone_number" value="{{data[0].phone_number}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> first purchase: </b></label> <input type="date" class="form-control" id="first_purchase" name="first_purchase" value="{{data[0].first_purchase}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> last purchase: </b></label> <input type="date" class="form-control" id="last_purchase" name="last_purchase" value="{{data[0].last_purchase}}" required> <label><em><b> * required </b></em></label>
        </fieldset>
        <br>
        <input type="submit" value="Update Customer" name="Update_Customer" class="btn btn-primary" style="margin:.5rem;">
        <a href='/Customers'><input class="btn" type="button" value="Cancel"></a>
    </form>

</html>