<html>
<!-- 
# Citation for the following jinja template file (SCOPE - ALL Code in File):
# Date: 3/02/2023
# Adapted from / Based on: Flask Starter App guide shared from course learning materials.
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
 -->
<head>
	<title>Update Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>


<body>
    <div>
        <table border="1" cellpadding="5"> 
            <caption> <b>Editing Product:<b> </caption>
            <!-- Access data tuple passed from app.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}

                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                        
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

                <tbody>
                    <!-- Now, iterate through every item in data -->
                    {% for item in data %}
                    <tr>
                        <!-- Then iterate through every key in the current item dictionary -->
                        {% for key in item.keys() %}
                        
                        <!-- Create a <td> element with the value of that key in it -->
                        <td>{{item[key]}}</td> {% endfor %} 
                    </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>
<br>
<br>
<div id="update" style="display: block">
    <form id="UpdateProduct" action="/Update_Product/{{data[0].product_id}}" method="POST">
      <legend><strong>Update Product</strong></legend>
      <br>
        <fieldset class="fields">
            <input type="hidden" value="{{data[0].product_id}}" class="form-control" id="product_id" name="product_id" required>
            <label><b> name: </b></label> <input type="text" class="form-control" id="name" name="name" value="{{data[0].name}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> description: </b></label> <input type="text" class="form-control" id="description" name="description" value="{{data[0].description}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> quantity in stock: </b></label> <input type="number" class="form-control" id="quantity_in_stock" name="quantity_in_stock" value="{{data[0].quantity_in_stock}}" required> <label><em><b> * required </b></em></label>
            <br>
            <br>
            <label><b> total dollar value: </b></label> <input type="number" step=".01" class="form-control" id="total_dollar_value" name="total_dollar_value" value="{{data[0].total_dollar_value}}" required> <label><em><b> * required </b></em></label>
        </fieldset>
        <br>
        <input type="submit" value="Update Product" name="Update_Product" class="btn btn-primary" style="margin:.5rem;">
        <a href='/Products'><input class="btn" type="button" value="Cancel"></a>
    </form>

</html>