<html>
<!-- 
# Citation for the following jinja template file:
# Date: 3/02/2023
# Adapted from / Based on: Flask Starter App guide shared from course learning materials.
# Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app
 -->
<head>
    <title>Vendors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
            document.getElementById('delete').style.display = 'block'
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
		}
	}
	function newVendor() {
		showform('insert');
	}
	function updateVendor(pid) {
		showform('update');
	}
	function browseVendors() {
		showform('browse');
	}
	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseVendors()>
<h1>Customers</h1>
[<a href="/">Page Navigator:</a> | 
<a href="/">Home</a> | 
<a href="/Customers">Customers</a> | 
<a href="/Products">Products</a> | 
<a href="/Purchase_Orders">Purchase Orders</a> | 
<a href="/Vendors">Vendors</a> | 
<a href="/Sales">Sales</a> | 
<a href="/Purchase_Orders_Products">Purchase Orders to Products</a> | 
<a href="/Products_Sales">Products to Sales</a> | 
<a href="/Status_Codes">Status Codes</a> ]
<br>
<br>
<div id="browse" style="display: block">
    <p><strong>Browse Vendors</strong></p>
    <table border="1" cellpadding="5">
{% if data %}
<thead>  
<tr>
    <!-- Iterate through each key in the first entry to get the
    column name -->
    {% for key in data[0].keys() %}
    
    <!-- Create a <th> tag with the key inside of it, this will be
    our header row -->
    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
      
    <!-- End of this for loop -->
    {% endfor %}
</tr>
<tbody>

<!-- Now, iterate through every cusomter in Customers -->
{% for item in data %}
<tr>
    <!-- Then iterate through every key in the current customer dictionary -->
    {% for key in item.keys() %}

    <!-- Create a <td> element with the value of that key in it -->
    <td>{{item[key]}}</td>
    {% endfor %}
    <!-- Create our edit/delete buttons -->
	<td><a href="Update_Vendor/{{item.vendor_id}}" class="btn btn-default">Edit</a></td>
</tr>
    {% endfor %}
{% endif %} 
</table>
<p></p>
<br>
</div> <!-- browse -->

<div id="insert" style="display: block">
    <form id="addVendor" action="/Vendors" method="post">
        <legend><strong>Add Vendor</strong></legend>
        <br>
          <fieldset class="fields">
            <label> name </label> <input type="text" name="name" placeholder="" required>
            <br>
            <br>
            <label> address </label> <input type="text" name="address" placeholder="" required>
            <br>
            <br>
            <label> contact name </label> <input type="text" name="contact_name" placeholder="" required>
            <br>
            <br>
            <label> contact phone number </label> <input type="text" name="contact_phone_number" placeholder="" required>
            <br>
            <br>
            <label> contact email </label> <input type="text" name="contact_email" placeholder="" required>
          </fieldset>
          <br>
          <input class="btn" type="submit" id="addVendor" value="Add Vendor" name="Add_Vendor">
	  </form> <!--add new vendor-->
</div><!-- insert -->
<br>
<br>
</body>
</html>
